files:
  '/etc/yum.repos.d/bintray-statoilfuelretail-rpm.repo':
    mode: "000555"
    owner: root
    group: root
    content: |
      [bintray--statoilfuelretail-rpm]
      name=bintray--statoilfuelretail-rpm
      baseurl=http://dl.bintray.com/statoilfuelretail/rpm
      gpgkey=https://bintray.com/user/downloadSubjectPublicKey?username=bintray
      gpgcheck=0
      enabled=1

commands:
  update:
    command: "yum -q -y update"
