packages:
  yum:
    nfs-utils: []

files:
  "/usr/local/sbin/eb-mount-nfs-logdir.sh":
    mode: "000555"
    owner: root
    group: root
    content: |
      #!/bin/bash
      

      # Set defaults unless overriden by environment :-)

      # Rights for logdir
      mode=0777
      
      # App and NFS_SERVER should come from outside
      test -z "${App}"        && App=sfr-sitemaster
      test -z "${NFS_SERVER}" && NFS_SERVER=nfs01

      # NFS_OPTS may be set from the outside      
      test -z "${NFS_OPTS}"       && NFS_OPTS=rw,async,hard,proto=tcp


      # The following vars should not be touched really
      test -z "${NFS_LOGDIR}"     && NFS_LOGDIR=${App}/logs
      test -z "${NFS_TARGETDIR}"  && NFS_TARGETDIR=${App}/logs/$(hostname)
      test -z "${TARGET}"         && \
                 TARGET="${NFS_SERVER}:/${NFS_TARGETDIR}/"
      test -z "${MOUNTPOINT}"     && \
                 MOUNTPOINT=/var/log/eb-docker/containers/eb-current-app

      # Make sure TARGET exists

      /bin/mount "${NFS_SERVER}:/" /mnt && \
        /bin/mkdir -p "/mnt/${NFS_TARGETDIR}/rotated" && \
        /bin/chmod -R "${mode}" /mnt/${NFS_TARGETDIR} && \
        /bin/umount /mnt || { 
          echo "Couldn't create TARGET!" 
          exit 73 # EX_CANTCREAT
        }

      # Mount the TARGET if it isn't already mounted
      # If something fails exit with the error code
      /bin/mountpoint -q "${MOUNTPOINT}" || \
      /bin/mount  -t nfs4 \
                  -o "${NFS_OPTS}" \
                  "${TARGET}" "${MOUNTPOINT}" && \
      service docker restart || exit $?

commands:
  01mount-nfs-logdir:
    command: /usr/local/sbin/eb-mount-nfs-logdir.sh
  02force_symlink:
    command: ln -sf /usr/local/sbin/eb-mount-nfs-logdir.sh /etc/rc3.d/S80eb-mount-nfs-logdir.sh
